<html>

<head>
  <title>Outil de Gestion des Objets Perdus</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header>
    <h1>Outil de Gestion des Objets Perdus et Retrouvés</h1>
    <nav>
      <a href="{{ url_for('home') }}">Accueil</a>
      {% if 'user_id' in session %}
      <a href="{{ url_for('lost') }}">Déclarer Perdu</a>
      <a href="{{ url_for('found') }}">Déclarer Retrouvé</a>
      <a href="{{ url_for('match') }}">Correspondances</a>
      <a href="{{ url_for('logout') }}">Déconnexion ({{
        session.get('username', '') }})</a>
      {% else %}
      <a href="{{ url_for('login') }}">Connexion</a>
      <a href="{{ url_for('register') }}">Inscription</a>
      {% endif %}
    </nav>
  </header>
  <main>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% block content %}{% endblock %}
  </main>
</body>

</html>